:root{
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #333333;
    --respostas: #c9c9c9;
    --fundo-inventario: rgba(0, 0, 0, 0.733);
    --tela-principal: #add8e6;
    --perigo: #c20000;
}