@import url(color.css);

/* arrow animation */
@keyframes slide-right {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-10px);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#hall {
    background-image: url(../../assets/img/background/hall.jpg);
}

#cozinha {
    background-image: url(../../assets/img/background/cozinha.jpg);
}

#biblioteca {
    background-image: url(../../assets/img/background/biblioteca.jpg);
}

#pSuperior {
    background-image: url(../../assets/img/background/pisoSuperior.jpg);
}

#pInferior {
    background-image: url(../../assets/img/background/pisoSuperior.jpg);
}

#corredor2{
    background-image: url(../../assets/img/background/pisoSuperior.jpg);
}

#quarto1 {
    background-image: url(../../assets/img/background/quarto1.jpg);
}

#quarto2 {
    background-image: url(../../assets/img/background/quarto2.jpg);
}

#quarto3 {
    background-image: url(../../assets/img/background/quarto3.jpg);
}

#empregados {
    background-image: url(../../assets/img/background/quarto2.jpg);
}

#sotao {
    background-image: url(../../assets/img/background/porao.jpg);
}

#salaSecreta {
    background-image: url(../../assets/img/background/secreta.jpg);
}

#adega{
    background-image: url(../../assets/img/background/adega.jpg);
}

#porao{
    background-image: url(../../assets/img/background/porao.jpg);
}

.telaPrincipal {
    width: 100vw;
    height: 100vh;
    background-size: 110% 110%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;


    & #section1 {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & #inventario {
            width: 50%;
            height: 70%;
            background-color: rgba(0, 0, 0, 0.733);
            border-radius: 80px;
            margin: 20px;
            margin-top: 50px;
            text-align: center;

            & ul {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-align: center;

                & li {
                    text-align: center;
                    list-style: none;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    & img {
                        height: 70%;
                        width: 100%;
                    }

                    & .possui {
                        color: green;
                    }

                    & .naoPossui {
                        color: red;
                    }

                }

                & .verificacao {
                    color: rgb(0, 0, 0);
                    background-color: rgb(255, 187, 0);
                    height: 70%;
                    padding-inline: 10px;
                    border-radius: 20px;
                }
            }
        }

        & #divMapa {
            width: 50%;
            height: 100;
            display: flex;
            align-items: center;
            justify-content: right;
            flex-direction: row;

            & img {
                padding: 10px;
                width: 50px;
                height: 50px;
                background-color: rgba(66, 66, 66, 0.705);
                fill: black !important;
                border-radius: 10px;
                margin: 20px;
                margin-top: 50px;
                text-align: center;
                cursor: pointer;

            }

            & img:hover {
                background-color: rgb(77, 77, 77);
                transition-duration: .2s;
            }
        }

        & #configuracao {
            height: 100;
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: row;
            padding-right: 30px;

            & img {
                padding: 10px;
                width: 50px;
                height: 50px;
                background-color: rgba(66, 66, 66, 0.705);
                fill: black !important;
                border-radius: 10px;
                margin: 20px;
                margin-top: 50px;
                text-align: center;
                cursor: pointer;

            }

            & img:hover {
                background-color: rgb(77, 77, 77);
                transition-duration: .2s;
            }
        }

    }

    & #section2 {
        width: 100%;
        height: 10%;

        & #local {
            display: flex;
            align-items: center;
            justify-content: left;
            width: 100%;
            height: 100%;

            & h3 {
                margin-left: 50px;
                background-color: rgba(240, 255, 255, 0.582);
                padding: 5px;
                border-radius: 5px;

            }
        }

    }

    & #section3 {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        & #mudarComodo {
            width: 32.5%;
            height: 100%;

            & #subComodo {
                width: 50%;
                height: 300px;
                padding: 30px;
                margin-left: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: var(--fundo-inventario);
                color: var(--branco);
                border-radius: 50px;
                overflow-y: auto;
                overflow-x: hidden;
                gap: 10px;

                & .button {
                    width: 100%;
                    height: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0px 15px;
                    background-color: rgba(66, 66, 66, 0.705);
                    border-radius: 10px;
                    color: white;
                    border: none;
                    position: relative;
                    cursor: pointer;
                    transition-duration: .2s;
                    font-size: 20px;
                    text-decoration: none;

                    & .arrow {
                        position: absolute;
                        right: 0;
                        width: 30px;
                        height: 100%;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                & .button:hover {
                    background-color: rgb(77, 77, 77);
                    transition-duration: .2s;
                }

                & .button:hover .arrow {
                    animation: slide-right .6s ease-out both;
                }

                & .button:active {
                    transform: translate(1px, 1px);
                    transition-duration: .2s;
                }
            }

        }

        & #divPergunta {
            width: 35%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & content {
                background-color: var(--fundo-inventario);
                width: 100%;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                padding-inline: 20px;
                border-radius: 20px;
                color: var(--branco);
                gap: 30px;
                overflow-y: auto;

                & .msgAlert {
                    width: 70%;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--preto);
                    background-color: var(--alerta-fundo);
                    padding: 5px;
                    border-radius: 20px;
                }

                & h1 {
                    width: 100%;
                    text-align: center;
                    height: 10%;
                }

                & p {
                    width: 100%;
                    text-align: center;
                    max-height: 70%;
                }
            }
        }

        & #divDica {
            width: 32.5%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: right;
            flex-direction: column;

            #dica {
                width: 50%;
                height: 300px;
                padding: 30px;
                margin-left: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: var(--fundo-inventario);
                color: var(--branco);
                border-radius: 50px;
                overflow-y: auto;
                overflow-x: hidden;
                gap: 10px;
                text-align: center;

            }
        }
    }

    & #section4 {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & .respostas {
            width: 30%;
            height: 50%;
            background-color: var(--respostas);
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--preto);
            font-size: 25px;
            box-shadow: 0px 0px 5px var(--cinza);

            & .submitItem {
                border: none;
                background-color: inherit;
                font-size: inherit;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                color: inherit;
                cursor: pointer;
            }
        }

        & .respostas:hover {
            background-color: rgb(192, 192, 192);
            transition-duration: .2s;
        }


    }

    & #section5 {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 5%;
    }
}


/*POPUP MAPA*/

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: min-content;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-inline: 100px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 50px 0px gray;
    border-radius: 12px;
    z-index: 9999;
    text-align: center;

    & .closeBtnPopup {
        width: 40px;
        height: 40px;
    }

    & #ulConfiguracoes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        & li {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 10px;

            & a {
                width: 100%;
                background-color: var(--cinza);
                border-radius: 20px;
                text-decoration: none;
                color: var(--branco);
                padding: 10px;
            }

            & #sairJogo {
                background-color: var(--perigo);
            }
        }
    }
}

.closeBtnPopup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}